<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.sohn919.charging">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="false" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="EEVA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <!-- 액션바를 비활성 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAwGiLnNV9qTlLjRILIoX9TvnWaNMlExng" />

        <activity android:name=".Splash">
            <intent-filter> <!-- 처음 화면 -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".ManageActivity" />
        <activity android:name=".ManageActivity2" />
        <activity android:name=".NfcActivity" />
    </application>

</manifest>